/* 
    STYLE GUIDE:
    0. RESET
    1. LAYOUT
    2. GENERIC ITEMS
    3. PARTS OF THE WEB
    4. LIST
    5. FORM
    6. ANIMATION
*/

/*0 RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*1. LAYOUT*/
body{
    text-align: center; 
    font: 300 20px/1.7 'Roboto Condensed';
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown; 
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_pkday {display: flex; justify-content: center; align-items: center;}

/*2 GENERIC ITEMS*/
.header {
    background: url(img/paisaje.png) no-repeat center top; background-size: cover;
    height: 100vh;
}
.pokemon img{
    width: 250px; 
    height: 250px;
}

.logo{
align-items: center;
}
.navbar{
    height: 40px;
    background: rgb(229, 255, 0);
    position: fixed;
    width: 100%;
    box-shadow: 10px 5px 5px rgb(26, 69, 161);
    
}


.navbar a {
    color: rgb(26, 69, 161);
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.title {
    margin-bottom: 40px;
    font-size: 50px;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
}
/*3 PARTS OF THE WEB*/
.content {
    padding: 80px;
}
.who {
    background: rgb(26, 69, 161);
    color:rgb(229, 255, 0);
}
.service {
    background: rgb(229, 255, 0);
    color:rgb(26, 69, 161) ;
}
.pkday {
    background: rgb(26, 69, 161);
    color:rgb(229, 255, 0);
}
.comments {
    background: rgb(229, 255, 0);
    color:rgb(26, 69, 161) ;
}
/*4 LIST*/
.table-primary{
    display: flex; justify-content: center; align-items: center; 
}
/*5 FORM*/
.textarea{
    height: 200px;
    width: 700px;
    border-width: 2px;
    border-color: blue;
    background-color: rgb(229, 255, 0);
    box-shadow: 10px 5px 5px rgb(26, 69, 161);
    color:rgb(26, 69, 161) ;
}

.txt_com{
    border-width: 2px;
    border-color: blue;
    background-color: rgb(229, 255, 0);
    box-shadow: 10px 5px 5px rgb(26, 69, 161);
    color:rgb(26, 69, 161) ;
}
/*6 ANIMATION*/

